.requirements li {
	list-style-type: none;
	padding: 5px 10px;
	background: #e5e5e5;
	border-radius: 10px;
	display: inline-block;
	margin-left: 10px;
}

.position_amount {
	font-size: 25px;
	color: #666666;
	font-weight: 500;
}