
.navigation {
	background: #4d394b;
	height: 100vh;
	width: 250px;
	padding-top: 30px;
	text-align: right;
}
.nav-ul {
	padding-left: 0;
}
.nav-ul li{
	list-style-type: none;
	padding: 20px 0;
	padding-right: 25px;
	transition: font-size ease-in-out .15s;
}

.nav-ul li a {
	color: #e7e6fc;
	text-decoration: none;
}
.nav-ul li:hover {
	font-size: 18px;
}
